<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") %>
  <body>
    <%- include("./partials/navbar") %>
    <h1>Welcome to DroneBlog</h1>
    <p style="max-width: 800px; margin: auto;">Are you ready to take flight into the exhilarating world of drones? Whether you're an avid enthusiast, a curious beginner, or just someone fascinated by cutting-edge technology, you've landed at the perfect destination!</p>
    <p style="max-width: 800px; margin: auto;">At DroneBlog, we're dedicated to bringing you the latest and greatest in drone news, trends, tips, and everything in between. From the newest models soaring into the market to the most innovative applications revolutionizing industries worldwide, we've got you covered.</p>
    <p style="max-width: 800px; margin: auto;">Join us as we navigate the skies, exploring the limitless possibilities and advancements in drone technology. Whether it's the thrill of aerial photography, the precision of drone mapping, or the excitement of racing, there's something for everyone in our virtual hangar.</p>
    <p style="max-width: 800px; margin: auto;">But we're not just about the gadgets and gizmos. We're passionate about the stories behind the drones, the people shaping the industry, and the profound impact these flying machines are having on our world—from conservation efforts to emergency response and beyond.</p>
    <p style="max-width: 800px; margin: auto;">So, buckle up and get ready to soar with us! Whether you're here to learn, engage, or simply marvel at the wonders of flight, DroneBlog is your ultimate destination for all things drones.</p>
    <p style="max-width: 800px; margin: auto;">Stay tuned for regular updates, insightful articles, captivating interviews, and much more. Let's embark on this thrilling journey together, where the sky's the limit!</p>
    <p style="max-width: 800px; margin: auto;">Happy droning!</p>
    <%- include("./partials/footer") %>
  </body>

</html>
