<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") %>
  <body>
    <%- include("./partials/navbar") %>

    <h1>Register</h1>
    <form action="/register" method="post">
      <section>
        <label for="username">Username:</label>
        <input type="text" name="user[username]" id="username" />
      </section>
      <section>
        <label for="email">Email:</label>
        <input type="email" name="user[email]" id="email" />
      </section>
      <section>
        <label for="password">Password:</label>
        <input type="password" name="user[password]" id="password" />
      </section>
      <section>
        <label for="passwordRepeated">Password repeated:</label>
        <input
          type="password"
          name="user[passwordRepeated]"
          id="passwordRepeated"
        />
      </section>
      <button>Register</button>
    </form>
      <%- include("./partials/footer") %>
  </body>

</html>
